body{
    background-color: #06141B;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-item a{
    color: color-mix(in srgb, #9BA8AB 50%, #4A5C6A 50%);
    font-weight: 500;
}
.nav-item a:hover{
    color: #CCD0CF;
    font-weight: 500;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 20vh; 
}

.btn-conocer{
    background-color: #4A5C6A;
    border: 1px solid #06141B;
    color: #CCD0CF;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
}
#name{
    color: color-mix(in srgb, #9BA8AB 50%, #4A5C6A 50%);
    font-family: "Playfair Display", serif;
    font-size: 100px;
    text-align: center;
}
h1{
    color: color-mix(in srgb, #9BA8AB 50%, #4A5C6A 50%);
    font-family: "Playfair Display", serif;
    text-align: center;
}
h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #CCD0CF;
    text-align: center;
}
h3{
    color: #CCD0CF; 
}
p{
    color: #CCD0CF;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.container-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    background-color: #253745;
}
.btn-card{
    background-color: #4A5C6A;
    border: 1px solid #06141B;
    color: #CCD0CF;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    align-items: center;
}
#icon-contact{
    display: flex;
    justify-content: center;
}
.fab{
    color:color-mix(in srgb, #9BA8AB 50%, #4A5C6A 50%);
    font-size: 30px;
    margin: 10px;
}